body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #56ccf2, #2f80ed); /* Azul cielo */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
  }
  
  form h1 {
    text-align: center;
    color: #2f80ed;
  }
  
  label {
    margin-top: 10px;
    display: block;
    color: #333;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #27ae60; /* Verde viajero */
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #219150;
  }
  